{% import '_includes/forms' as forms %}

{{ forms.selectField({
    label: field.attributeLabels.RemixTarget,
    id: 'RemixTarget',
    name: 'RemixTarget',
    options: [
        { value: 'title', label: 'Title'|t('app') },
        { value: 'slug', label: 'Slug'|t('app') },
    ],
    value: field.RemixTarget,
}) }}

<div class="remix-find-replace-rules field">
    <div class="heading">
        <label>{{ field.attributeLabels.RemixFindReplaceRules }}</label>
    </div>
    <div class="instructions">
        <p>{{ 'Rules are applied in order.'|t('remix') }}</p>
    </div>
    {{ forms.editableTable({
        id: 'RemixFindReplaceRules',
        name: 'RemixFindReplaceRules',
        cols: [
            {
                heading: 'Find Text'|t('app'),
                type: 'singleline',
            },
            {
                heading: 'Replace Text'|t('app'),
                type: 'singleline',
            },
            {
                heading: 'Ignore Case'|t('remix'),
                type: 'checkbox',
                class: 'thin',
            },
            {
                heading: 'RegEx'|t('remix'),
                type: 'checkbox',
                class: 'thin',
            },
        ],
        rows: field.RemixFindReplaceRules ?? [],
        allowAdd: true,
        allowDelete: true,
        allowReorder: true,
        addRowLabel: 'Add a rule'|t('app'),
        defaultValues: {
            0: '',
            1: '',
            2: false,
        },
    }) }}
    {{ forms.errorList(field.getErrors('RemixFindReplaceRules')) }}
</div>

<div class="flex gap-2 remix-templates">
    {{ forms.button({
        label: 'Drop "A/The" for Sorting',
        attributes: {
            data: { pattern: 'stripArticles' }
        },
    }) }}
    {{ forms.button({
        label: 'Strip Punctuation',
        attributes: {
            data: { pattern: 'stripPunctuation' }
        },
    }) }}
    {{ forms.button({
        label: 'Strip Special Characters',
        attributes: {
            data: { pattern: 'stripSpecial' }
        },
    }) }}
    {{ forms.button({
        label: 'Spaces to Dashes',
        attributes: {
            data: { pattern: 'spacesToDashes' }
        },
    }) }}
    {{ forms.button({
        label: 'Dashes to Underscores',
        attributes: {
            data: { pattern: 'dashesToUnderscores' }
        },
    }) }}
</div>

{% set transformOptions = [
    { label: 'None'|t('app'), value: 'none' },
    { label: 'Lowercase'|t('remix'), value: 'lowercase' },
    { label: 'Uppercase'|t('remix'), value: 'uppercase' },
    { label: 'Title case'|t('remix'), value: 'titlecase' },
] %}

{{ forms.radioGroupField({
    label: field.attributeLabels.RemixTextTransform,
    name: 'RemixTextTransform',
    options: transformOptions,
    value: field.RemixTextTransform ?? '',
}) }}

{{ forms.textField({
    label: field.attributeLabels.RemixPrepend,
    name: 'RemixPrepend',
    value: field.RemixPrepend,
    class: 'remix-prepend-input'
}) }}
{{ forms.errorList(field.getErrors('RemixPrepend')) }}

{{ forms.textField({
    label: field.attributeLabels.RemixAppend,
    name: 'RemixAppend',
    value: field.RemixAppend,
    class: 'remix-append-input'
}) }}
{{ forms.errorList(field.getErrors('RemixAppend')) }}

{% do view.registerAssetBundle("mlathrom\\craftremix\\RemixAsset") %}
